{% extends "layout.html" %}

{% block pageTitle %}
   Do you drink tea?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "javascript: window.history.go(-1)",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# <h1 class="govuk-heading-xl">
         Do you drink tea?
      </h1> #}

      {% include "../../includes/error-summary.html" %}

      <form class="form" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "tea",
          name: "tea",
          errorMessage: errors.tea,
          fieldset: {
            legend: {
              text: ' Do you drink tea?',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--xl'
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <input class="govuk-button" type="submit" value="Continue">

      </form>

    </div>
  </div>
{% endblock %}
